// app global css in SCSS form
@font-face {
  font-family: SourceHanSansSC-bold;
  src: url(./fonts/SansCN-Bold.woff2);
}
@font-face {
  font-family: SourceHanSansSC;
  src: url(./fonts/SansCN-Regular.woff2);
}
