html::-webkit-scrollbar{
  display: none;
}
body{
  user-select: none;
}
.aligncenter{
  position:relative;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
}
.start-text{
  color: rgba(176, 176, 176, 100);
  font-size: 14px;
  font-family: SourceHanSansSC-bold;
}
.last-text{
  opacity: 0.21;
  color: rgba(176, 176, 176, 100);
  font-size: 14px;
  font-family: SourceHanSansSC-bold;
}
.videoMode{
  background-color: #000000;
}
.gameMode{

}
canvas{
  /*cursor: url('http://ds.ronghuogame.com/pointer/overwatch/handwriting.cur'),default;*/
}
.q-btn-dropdown__arrow{
  /*display: none;*/
}
.q-menu{
  background-color: #1A1B1C;
}
.q-menu--square{
  background-color: white !important;
}
.hero{
  cursor: move;
}
.heroActive{
  display: block;
}
.heroHide{
  display: none;
}
.tdiv {
  position: absolute;
  z-index: 9;
  text-align: center;
  user-select: none;
}

.tdivheader {
  cursor: move;
  z-index: 10;
  user-select: none;
}
.herofab{
  pointer-events: none;
}
.hero-layer{
  position: fixed;
  top: 0;
  left: 0;
}
.hero-left{
  margin-bottom: 40px;
  width: 50px;
}
.q-item--active{
  background-color: #d84315;
}
.btn-hint{
  font-size: 10px;
}
.q-fab__icon{
  width: 50px;
  height: 50px;
  margin-left: -15px !important;
  border-radius: 50%;
}
.q-tooltip{
  font-size: 15px;
}
.btn-active{
  width: 68px;color: #2196F3;background-color: #E1F3FF
}
.btn-disable{
  width: 68px;color: #B0B0B0;background-color: #F2F2F2
}
.replay-left-title{
  color: rgba(28, 31, 62, 100);font-size: 14px;font-family: SourceHanSansSC-bold;font-weight: bold;font-style: italic;position: fixed;margin-left: 40px
}
.q-field__native{
  /*color: #42B1F8;*/
}
.toolbar{
  position: fixed;
  overflow: hidden;
  bottom: 20px;
  /* width: 60%;
  margin-left: 200px;*/
  border-radius: 5px;
  height: 80px;
  z-index: 99999;
}
.toolbar-mini{
  position: fixed;
  overflow: hidden;
  bottom: 20px;
  width: 150px;
  /* width: 60%;
  margin-left: 200px;*/
  border-radius: 5px;
  text-align: center;
  height: 23px;
  z-index: 99999;
  cursor: pointer;
}
.toolbar-mini::after{
  /*background-color: rgba(0,0,0,0.7);*/
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  background-attachment: fixed;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -ms-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px);
  margin: -30px;
  z-index: -1;
}
.toolbar::after{
  /*background-color: rgba(0,0,0,0.7);*/
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  background-attachment: fixed;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -ms-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px);
  margin: -30px;
  z-index: -1;
}
.q-btn-dropdown__arrow{
  display: none;
}
.q-menu{
  margin-left: 10px !important;
  z-index: 99999;
}

.toolbar-hide{
  display: none;
}
.blackboard-content{
  background-color: #282828;
}
.q-drawer{
  background: rgba(0,0,0,0) !important;
}
.ele-hide{
  display: none;
}
.ele-show{
  display: block;
}
.rd5{
  border-radius: 10px;
  height: 28px;
}
